# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
.env/
.venv/

# SQLite DB
*.db
*.sqlite3

# Логи
*.log

# IDE
.idea/
.vscode/

# Секреты
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Railway
railway.json 